@model BussinesLogic.Controladores.ControllerZona

@{
    ViewBag.Title = "Mapa Termico";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
}    
    <div class="form-horizontal">
    <h4>Mapa Termico</h4>
       <br/>
       <br/>
       <div id="CamposMtermicos">
           <label>Fecha inicio Busqueda*</label>
           
           <label>Fecha fin Busqueda *</label>
           <br />
           <input type="date" id="iniciobusqueda" />

          
           <input type="date" id="finBusqueda" />
           <hr />
           @Html.ValidationSummary(true, "", new { @class = "text-danger" })
           @Html.Partial("Mapa")

           <div class="form-group">
               <div id="buttonContainer" style="width: 20%; margin: auto; text-align:center">
                   <input type="submit" id="Busqueda" value="Buscar" onclick="FiltrarZomas()" />
               </div>
           </div>
       </div>
        
    
        
