
@{
    ViewBag.Title = "Listar zonas";
}

<div class="starter-template" style="margin-top: -20px">
    <h1>@ViewBag.Title</h1>
    <hr />
    <p class="lead">Click en la zona para ver su información</p>

    @Html.Partial("Mapa")


</div>

@section scripts{
    @Scripts.Render("~/bundles/zonas");
}