<div id="map" style="height: 300px; width: 65%; margin: auto;">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2tVrQux02pwBZDsMYN9ILseEWWofaYNU&callback=initMap&libraries=visualization&v=weekly"
            async></script>
</div>
